{{node_id,"board_m1@asus"},{ip_addr,"localhost",10000},{zone,"sthlm.flat.room1"},{capabilities,[disk,tellstick]},{status,inactive}}.
{{node_id,"board_m2@asus"},{ip_addr,"localhost",10010},{zone,"varmdoe.main.room1"},{capabilities,[]},{status,inactive}}.
{{node_id,"board_w1@asus"},{ip_addr,"localhost",20000},{zone,"varmdoe.main.room2"},{capabilities,[]},{status,inactive}}.
{{node_id,"board_w2@asus"},{ip_addr,"localhost",20010},{zone,"varmdoe.guesthouse.room1"},{capabilities,[]},{status,inactive}}.
{{node_id,"board_w3@asus"},{ip_addr,"localhost",20030},{zone,"sthlm.flat.balcony"},{capabilities,[disk]},{status,inactive}}.